<div class="gold-ownership-form-card">
  <h2>
    <mat-icon color="primary">diamond</mat-icon>
    Gold Ownership Details
  </h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Source of Jewellery</mat-label>
        <mat-select formControlName="sourceOfJewellery">
          <mat-option value="Self Purchase">Self Purchase</mat-option>
          <mat-option value="Gift">Gift</mat-option>
          <mat-option value="Inheritance">Inheritance</mat-option>
          <mat-option value="Purchased">Purchased</mat-option>
          <mat-option value="Others">Others</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Year of Purchase</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="yearOfPurchase" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
      </mat-form-field>
      
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Store Name & Location</mat-label>
        <input matInput formControlName="storeNameAndLocation" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Purpose of Purchasing</mat-label>
        <mat-select formControlName="purposeOfPurchasing">
          <mat-option value="Marriage">Marriage</mat-option>
          <mat-option value="Investment">Investment</mat-option>
          <mat-option value="Wedding">Wedding</mat-option>
          <mat-option value="Gift">Gift</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-flat-button color="primary" type="submit">
        {{ isEditMode ? 'Update' : 'Submit' }}
      </button>
    </div>
  </form>
</div>
