<div class="wizard-container">
    <aside class="wizard-sidebar">
      <mat-nav-list>
        <mat-list-item
          *ngFor="let step of steps; let i = index"
          (click)="goToStep(i)"
          [class.active]="i === activeStep"
          [class.completed]="i < activeStep"
        >
          <mat-icon matListIcon>
            {{ i < activeStep ? 'check_circle' : (i === activeStep ? 'radio_button_checked' : 'radio_button_unchecked') }}
          </mat-icon>
          <span matLine>{{ step.label }}</span>
        </mat-list-item>
      </mat-nav-list>
    </aside>
  
    <section class="wizard-content">
      <ng-container [ngSwitch]="activeStep">
        <app-personal-details *ngSwitchCase="0"></app-personal-details>
        <app-family-details *ngSwitchCase="1"></app-family-details>
        <app-address-activity *ngSwitchCase="2"></app-address-activity>
        <app-work-details *ngSwitchCase="3"></app-work-details>
        <app-kyc-details *ngSwitchCase="4"></app-kyc-details>
        <app-additional-documents *ngSwitchCase="5"></app-additional-documents>
        <app-client-documents *ngSwitchCase="6"></app-client-documents>
        <app-nominee  *ngSwitchCase="7"></app-nominee>
        <app-reference-details *ngSwitchCase="8"></app-reference-details>
        <app-gold-ownership-details *ngSwitchCase="9"></app-gold-ownership-details>

        <!-- Continue adding other components as needed -->
      </ng-container>
  
      <div class="wizard-navigation">
        <button mat-stroked-button (click)="prev()" [disabled]="activeStep === 0">Previous</button>
        <button mat-stroked-button (click)="next()" *ngIf="!isLastStep()">Next</button>
        <button mat-raised-button color="primary" (click)="submitAll()" *ngIf="isLastStep()">Submit</button>
      </div>
    </section>
  </div>
  